//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 14 02:56:00 2024
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

